        /* Стили для видео должны быть первыми */
body {
    margin: 0;
    overflow: hidden; /* Скрывает полосы прокрутки */
    font-family: sans-serif;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.registr-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 30px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    border-radius: 8px;
    backdrop-filter: blur(8px);
}

.registr-container h2 {
    margin-bottom: 20px;
    color: #333
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.form-group input:focus {
    outline: none;
    border-color: #66a3ff;
}

.register-btn {
    color: white;
    font-size: 18px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #3e8e41;
}

.registr-container {
    animation:  fadeIn 0.5s ease-in-out;
}

.lodin-link {
    margin-top: 20px;
    color: #777;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
}

.login-link a:hover {
    text-decoration: underline;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}